<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Hola mundo</p>
    <a href="{% url 'cluster:home' %}" class="btn btn-success btn-block"><i
            class="fas fa-fw fa-tachometer-alt"></i>Tus servicios Aqui!</a>
</body>

</html>