<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form method="POST" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type='submit'> Agregar Instancia</button>
        </form>
    </div>
</body>

</html>