<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Programacion de salones{% endblock %}</title>
    {% load static %}
    {% load template_filters %}
    <link rel="stylesheet" href="{% static 'salones/css/style.css' %}">
</head>
<style>

</style>

<body>
    <h4>Hola Milton A</h4>
    <div>
        {% for salon in salones %}
        <a href="{% url 'salones:sheduling' pk_salon=salon.abreviatura %}" class="btn btn-primary btn-block mb-2">Ver el
            salon : {{salon.abreviatura}}</a>
        <br>
        {% endfor %}
    </div>


    <div>
        {% for programa in programas %}
        <p>Ver la programación del programa : {{programa.abreviatura}}</p>
        {% for i in programa.semestres|semestres %}
        
        <a href="{% url 'salones:sheduling_pro_sem' pk_pro=programa.abreviatura pk_sem=i %}" class="btn btn-primary btn-block mb-2">Del semestre : {{i}}</a>
        
        {% endfor %}
        {% endfor %}
    </div>
    <!-- <div class='tab'>
        <table border='0' cellpadding='0' cellspacing='0'>
            <tr class='days'>
                <th></th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
            <tr>
                <td class='time'>9.00</td>
                <td class='cs335 blue' data-tooltip='Software Engineering &amp; Software Process'>CS335 [JH1]</td>
                <td class='cs426 purple' data-tooltip='Computer Graphics'>CS426 [CS1]</td>
                <td></td>
                <td></td>
                <td>-</td>
            </tr>
            <tr>
                <td class='time'>10.00</td>
                <td></td>
                <td class='cs335 blue lab' data-tooltip='Software Engineering &amp; Software Process'>CS335 [Lab]</td>
                <td class='md352 green' data-tooltip='Multimedia Production &amp; Management'>MD352 [Kairos]</td>
                <td></td>
                <td>-</td>
            </tr>
            <tr>
                <td class='time'>11.00</td>
                <td></td>
                <td class='cs335 blue lab' data-tooltip='Software Engineering &amp; Software Process'>CS335 [Lab]</td>
                <td class='md352 green' data-tooltip='Multimedia Production &amp; Management'>MD352 [Kairos]</td>
                <td class='cs240 orange' data-tooltip='Operating Systems'>CS240 [CH]</td>
                <td>-</td>
            </tr>
            <tr>
                <td class='time'>12.00</td>
                <td></td>
                <td class='md303 navy' data-tooltip='Media &amp; Globalisation'>MD303 [CS2]</td>
                <td class='md313 red' data-tooltip='Special Topic: Multiculturalism &amp; Nationalism'>MD313 [Iontas]
                </td>
                <td></td>
                <td>-</td>
            </tr>
            <tr>
                <td class='time'>13.00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>-</td>
            </tr>
            <tr>
                <td class='time'>14.00</td>
                <td></td>
                <td></td>
                <td class='cs426 purple' data-tooltip='Computer Graphics'>CS426 [CS2]</td>
                <td class='cs240 orange' data-tooltip='Operating Systems'>CS240 [TH1]</td>
                <td>-</td>
            </tr>
            <tr>
                <td class='time'>15.00</td>
                <td></td>
                <td></td>
                <td></td>
                <td class='cs240 orange lab' data-tooltip='Operating Systems'>CS240 [Lab]</td>
                <td>-</td>
            </tr>
            <tr>
                <td class='time'>16.00</td>
                <td></td>
                <td></td>
                <td></td>
                <td class='cs240 orange lab' data-tooltip='Operating Systems'>CS240 [Lab]</td>
                <td>-</td>
            </tr>
            <tr>
                <td class='time'>17.00</td>
                <td class='cs335 blue' data-tooltip='Software Engineering &amp; Software Process'>CS335 [TH1]</td>
                <td></td>
                <td></td>
                <td></td>
                <td>-</td>
            </tr>
        </table>
    </div> -->

</body>

</html>