<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Programacion de salones{% endblock %}</title>
    {% load static %}
    {% load template_filters %}
    <link rel="stylesheet" href="{% static 'salones/css/style.css' %}">
</head>
<style>

</style>

<body>
    <h4>Programación salon : {{pk_salon}}</h4>
    <br>
    <div class='tab'>
        <table border='0' cellpadding='0' cellspacing='0'>
            <tr class='days'>
                <th></th>
                {% for dia in dias %}
                <th>{{dia.descripcion}}</th>
                {% endfor %}

            </tr>

            {% for franja in franjas %}
            <tr>
                <td class='time'>{{franja.descripcion}}</td>
                {% for dia in dias %}
                {% with dia_id=dia.abreviatura %}
                {% with check2=dia_id|add:'-' %}
                {% with check=check2|add:franja.abreviatura %}
                {% if  existe|get_item:check == 1 %}

                {% if  dia.abreviatura == 'Lun' %}
                <td class='md352 green' data-tooltip='{{ asignaturas|get_item:check}}'>
                    {{ asignaturas|get_item:check}}-{{ grupos|get_item:check}}-{{ sesiones|get_item:check}}</td>
                {% endif %}

                {% if  dia.abreviatura == 'Mar' %}
                <td class='cs335 blue' data-tooltip='{{ asignaturas|get_item:check}}'>
                    {{ asignaturas|get_item:check}}-{{ grupos|get_item:check}}-{{ sesiones|get_item:check}}</td>
                {% endif %}

                {% if  dia.abreviatura == 'Mie' %}
                <td class='cs426 purple' data-tooltip='{{ asignaturas|get_item:check}}'>
                    {{ asignaturas|get_item:check}}-{{ grupos|get_item:check}}-{{ sesiones|get_item:check}}</td>
                {% endif %}

                {% if  dia.abreviatura == 'Jue' %}
                <td class='cs240 orange' data-tooltip='{{ asignaturas|get_item:check}}'>
                    {{ asignaturas|get_item:check}}-{{ grupos|get_item:check}}-{{ sesiones|get_item:check}}</td>
                {% endif %}

                {% if  dia.abreviatura == 'Vie' %}
                <td class='md313 red' data-tooltip='{{ asignaturas|get_item:check}}'>
                    {{ asignaturas|get_item:check}}-{{ grupos|get_item:check}}-{{ sesiones|get_item:check}}</td>
                {% endif %}

                {% if  dia.abreviatura == 'Sab' %}
                <td class='md303 navy' data-tooltip='{{ asignaturas|get_item:check}}'>
                    {{ asignaturas|get_item:check}}-{{ grupos|get_item:check}}-{{ sesiones|get_item:check}}</td>
                {% endif %}
                {% else %}
                <td></td>
                {% endif %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endfor %}

            </tr>
            {% endfor %}
        </table>
    </div>

</body>

</html>