<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Programacion de salones{% endblock %}</title>
    {% load static %}
    {% load template_filters %}
    <link rel="stylesheet" href="{% static 'salones/css/style.css' %}">
</head>
<style>

</style>

<body>
    <h4>Programación del programa: {{programa}} y del semestre: {{semestre}}</h4>
    <br>
    <div class='tab'>
        {% for gr in num_grupos|semestres %}
        <table border='0' cellpadding='0' cellspacing='0'>
            <tr class='days'>
                <th>Grupo: {{gr}}</th>
                {% for dia in dias %}
                <th>{{dia.descripcion}}</th>
                {% endfor %}

            </tr>
            {% for franja in franjas %}
            <tr>
                <td class='time'>{{franja.descripcion}}</td>
                {% for dia in dias %}
                {% with grupo_id=gr|stringformat:"i" %}
                {% with check=grupo_id|add:'-' %}
                {% with check0=check|add:dia.abreviatura %}
                {% with check1=check0|add:'-' %}
                {% with check2=check1|add:franja.abreviatura %}
                {% if  existe|get_item:check2 == 1 %}
                {% if  dia.abreviatura == 'Lun' %}
                <td class='md352 green' data-tooltip='Salon: {{ salones|get_item:check2}}'>
                    {{ asignaturas|get_item:check2}}-{{ grupos|get_item:check2}}-{{ sesiones|get_item:check2}}</td>
                {% endif %}

                {% if  dia.abreviatura == 'Mar' %}
                <td class='cs335 blue' data-tooltip='Salon: {{ salones|get_item:check2}}'>
                    {{ asignaturas|get_item:check2}}-{{ grupos|get_item:check2}}-{{ sesiones|get_item:check2}}</td>
                {% endif %}

                {% if  dia.abreviatura == 'Mie' %}
                <td class='cs426 purple' data-tooltip='Salon: {{ salones|get_item:check2}}'>
                    {{ asignaturas|get_item:check2}}-{{ grupos|get_item:check2}}-{{ sesiones|get_item:check2}}</td>
                {% endif %}

                {% if  dia.abreviatura == 'Jue' %}
                <td class='cs240 orange' data-tooltip='Salon: {{ salones|get_item:check2}}'>
                    {{ asignaturas|get_item:check2}}-{{ grupos|get_item:check2}}-{{ sesiones|get_item:check2}}</td>
                {% endif %}

                {% if  dia.abreviatura == 'Vie' %}
                <td class='md313 red' data-tooltip='Salon: {{ salones|get_item:check2}}'>
                    {{ asignaturas|get_item:check2}}-{{ grupos|get_item:check2}}-{{ sesiones|get_item:check2}}</td>
                {% endif %}

                {% if  dia.abreviatura == 'Sab' %}
                <td class='md303 navy' data-tooltip='Salon: {{ salones|get_item:check2}}'>
                    {{ asignaturas|get_item:check2}}-{{ grupos|get_item:check2}}-{{ sesiones|get_item:check2}}</td>
                {% endif %}
                {% else %}
                <td></td>
                {% endif %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endfor %}
            </tr>
            {% endfor %}
            {% endfor %}


        </table>
    </div>

</body>

</html>